body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: black;
}

h1{
  font-size: 40px;
  letter-spacing: 2px;
  color: #6600cc;
}

h2{
  font-size: 35px;
  font-weight:lighter;
}

h3{
  font-size: 20px;
  font-weight: bold;
  color: white
}

ul{
  font-style: italic;
}

#black{
  background-color: black
}

.hard_skill{
  font-style: italic;
  color: blue
}

.soft_skill{
  font-style: italic;
  color: green
}

li{
  display: inline-block;
}
